@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
   padding: 0;
   margin: 0;
   font-family: "Noto Sans JP", sans-serif;
}
body{
   background-color: #F7F7F7;
}
@media only screen and (max-width: 430px) {
   .desctit {
      display: none;
   }
}
.card {
   cursor: pointer;
}
.card:hover {
   box-shadow: 14px 14px 19px #676767, -14px -14px 19px #ffffff;
   transition: 0.5s ease-in-out;
}

/* style Navbar */


.link-list {
   font-size: 20px;
}

.d-block {
   max-width: 100%;
   height: 70vh;
}

.navbar-style {
   padding-top: 5px;
}
/* .navbar {
  padding-right: 95px;
} */

.navbar {
   /* background-color: #eff7f2; */
   padding-right: 50px;
}

@media only screen and (max-width: 576px) {
   .navbar {
      /* background-color: #eff7f2; */
      padding: 5px 5px;
   }
}

.SHOW {
   display: NONE;
}
.HIDDEN {
   display: block;
}

/* content homepage */
.judul {
   text-align: center;
   padding: 10px 0px;
}
.container {
   padding: 20px 0px;
}
.container-homepage {
   background-color: #eff7f2;
}
#load {
   margin-bottom: 10px;
}

/* Add event */
.container-addevent {
   background-color: #eff7f2;
}

/* style register */
.row-register {
   background-color: white;
   border-radius: 25px;
   margin: 2% 0%;
}
.image > img {
   max-width: 100%;
   height: 60vh;
   padding-bottom: 10px;
   border-radius: 25px;
   /* margin: 10px; */
}
#form {
   padding-bottom: 2%;
}
#judul {
   padding: 10px;
}
#content1 {
   margin-top: 30px;
}
.ask {
   text-align: center;
   padding-bottom: 20px;
}
.switch {
   text-decoration: none;
}
@media (max-width: 576px) {
   .image > img {
      max-width: 100%;
      height: 40vh;
      padding-bottom: 10px;
      border-radius: 25px;
   }
}
.title{
   font-size: 45px;
   font-weight:600;
}
.org{
   font-size: 30px;
   font-weight:500;
}

@media (max-width: 583px){
   .title{
      font-size: 30px;
   }
}